body {
    font: 90% "Verdana","Arial","Helvetica",sans-serif;
}
h2 {
    font-size: 1.5em;
    font-weight: bold;
}
#content { margin: 3em 25% 10px 0; padding: 0 5% 1em 5%; }
#content.wide { margin: 3em 5% 0 5%; padding: 0 5% 1em 5%; }
#content p { padding: 0; margin: 0 0 1em 0; max-width: 660px; }
#content ul { max-width: 660px; }
#content ol { max-width: 660px; }
#content blockquote { max-width: 580px }
#content div.screenshot { text-align: center; margin: 1em 0; }
#content div.screenshot-right { text-align: center; float: right; margin: 0 0 0 1em; }
#content img { padding: 0; margin: 0; border: 0 } 

div.code {
    background-color: #CCCCFF;
    border: 1px solid #888888;
    margin: 1.5em 0;
    padding: 2px 0;
    position: relative;
    width: 600px;
}

div.code pre {
	font-family: 'Bitstream Vera Sans Mono','Courier New',monospace;
	font-size: 12px;
    line-height: 1.4;
    margin: 0 1em 0.25em;
}

h3 {
	font-size: 1.2em;
	font-weight: bold; 
}